

html:before {
  background: radial-gradient(#4f46e4 15%,transparent 16%,transparent 49%,#4f46e4 50%,transparent 51%),radial-gradient(circle at top left,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%),radial-gradient(circle at top right,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%),radial-gradient(circle at bottom left,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%),radial-gradient(circle at bottom right,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%);
  background-attachment: fixed;
  background-color: #fff;
  background-size: 1em 1em;
  content: "";
  height: 100%;
  left: 0;
  opacity: .03;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1
}
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    /* font-size: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem);  */
  
  }
    
 :root{
  --font-size-xl:clamp(1rem, 8vw, 3rem);
  --font-size-sm:clamp(0.75rem, 5vw, 1.5rem);
 } 
  * {
    box-sizing: border-box;
  }
  
  p{
    font-size: 20px;
  }
  .intro{
    font-size: var(--font-size-sm);
  }

/*   
  a:focus, a:hover {
    color: red;
    text-underline-offset: 2px;
}  */

/* a{
  text-decoration-thickness: 1px;
  text-decoration-style:wavy;
  text-underline-offset: 8px;
  transition: all .25s ease;
} */


.markdown h1{
      @apply text-[40px] font-black leading-[44px] text-[--title]; 
}

.markdown h2{
  @apply text-[28px] font-black leading-[44px] text-[--title]; 
}
.markdown h3 {
  @apply text-[20px] font-black leading-[44px] text-[--title]; 
}

/* .markdown h3 {
  @apply text-[16px] font-black leading-[44px] text-[--title]; 
  
} */