

html:before {
  background: radial-gradient(#4f46e4 15%,transparent 16%,transparent 49%,#4f46e4 50%,transparent 51%),radial-gradient(circle at top left,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%),radial-gradient(circle at top right,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%),radial-gradient(circle at bottom left,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%),radial-gradient(circle at bottom right,#4f46e4 10%,transparent 0,transparent 39%,#4f46e4 40%,transparent 41%);
  background-attachment: fixed;
  background-color: #fff;
  background-size: 1em 1em;
  content: "";
  height: 100%;
  left: 0;
  opacity: .03;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1
}
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
 :root{
  --font-size-xl:clamp(1rem, 8vw, 3rem);
 } 
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: var(--font-size-xl);
  }
  p{
    font-size: 20px;
  }

  .m-lg{
    margin-block-start: 2rem;
  }

  .spacer{
    height: 7rem;
  }
.flex{
  display: flex;
}


  footer {
    text-align: center;
  }
/*   
  a:focus, a:hover {
    color: red;
    text-underline-offset: 2px;
}  */

/* a{
  text-decoration-thickness: 1px;
  text-decoration-style:wavy;
  text-underline-offset: 8px;
  transition: all .25s ease;
} */


