html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
 :root{
  --font-size-xl:clamp(1rem, 8vw, 3rem);
 } 
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: var(--font-size-xl);
  }
  p{
    font-size: 20px;
  }

  .m-lg{
    margin-block-start: 2rem;
  }

  .spacer{
    height: 7rem;
  }
.flex{
  display: flex;
}


  footer {
    text-align: center;
    padding: 20px;
  }
  
  a:focus, a:hover {
    color: red;
    text-underline-offset: 2px;
} 

nav{
  margin-bottom: 2rem;
}

a{
  text-decoration-thickness: 1px;
  text-decoration-style:wavy;
  text-underline-offset: 8px;
  transition: all .25s ease;
}