---
import '../styles/global.css';
import Footer from '../components/Footer.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Angular", "Lit", "A11Y","TypeScript"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Exploring Tech with Chellappan</title>
    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: green;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog">Blog</a>
    <h1>About</h1>
    <p>
      Hello! I'm Chellappan, a passionate web developer and tech enthusiast from
      India. My journey in the world of technology is fueled by a love for
      creating web experiences and exploring the latest advancements in
      front-end development. I specialize in building components and
      applications with modern web technologies like Lit, Angular, React and
      TypeScript. Beyond coding, I'm an avid learner, constantly diving into new
      areas like machine learning and artificial intelligence to understand the
      algorithms that shape our digital world. Improving my English
      communication is another goal of mine, and I enjoy practicing language
      skills while sharing insights with you. When I'm not immersed in tech,
      you'll find me enjoying a game of badminton, or playing cricket with
      friends. I have a Golden Retriever who keeps me on my toes and adds joy to
      my daily life. I also love nature and dream of visiting the stunning
      landscapes of Switzerland someday. This blog is my space to share
      knowledge, experiences, and ideas about web development, best practices,
      and more. I hope my posts help fellow developers and inspire others to
      learn and grow alongside me!
    </p>

    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <Footer />

  </body>
</html>
