---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Angular", "Lit", "A11Y","TypeScript"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Exploring Tech with Chellappan</title>
    <style>

      .skill {
        color: green;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
   <div>

      <Navigation></Navigation>
 
  
       <!-- <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul> -->
    <Footer />
   </div>
  </body>
</html>
