---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = `Exploring Tech with Chellappan`;
---

<BaseLayout pageHeadTitle={pageTitle}>
  <main>
    <div class="relative -top-[10px] flex flex-col gap-8">
      <h1 class="mt-8 text-4xl font-bold text-gray-800 mb-4 hover:text-blue-600 transition-colors duration-300">Hi, I’m Chellappan.</h1>
      
      <p class="intro">
        A web developer from India passionate about front-end tech like Lit,
        Angular, React, and TypeScript. I love exploring new technologies. Outside
        of tech, I enjoy playing badminton, cricket, and spending time with my
        Golden Retriever.
      </p>
      <h2 class="font-bold">Most recent articles</h2>
      <ul >
        <li class="flex flex-col">
          <span> September 2024 </span>
          <a
            class="text-blue-600"
            href="/posts/css-variables-avoid-common-mistakes"
            >CSS Variables Done Right: Avoiding Common Mistakes</a
          >
        </li>
      </ul>
    </div>
   
  </main>
</BaseLayout>
<!-- https://docs.astro.build/en/tutorial/5-astro-api/2/ -->