---
import Social from "./Social.astro";

const platform = "github";
const username = "ChellappanRajan";
---

<!-- <footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer> -->

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>


<footer>
    <Social platform="X" username="che_off" />
    <Social platform="Bluesky" username="@chelladev.bsky.social" />
    <Social platform="Github" username="ChellappanRajan" />
</footer>
  