
---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";


---

<header class="mb-14 sm:mb-8 flex flex-row place-content-between">
    <nav>
        <Navigation></Navigation>
    </nav>
</header>