---
const { platform, username  } = Astro.props;

const generateURL = (platform:string, username:string) => {
  const lplatform = platform.toLocaleLowerCase();
  if (lplatform === "bluesky") {
    return `https://${username}`; // For Bluesky, use the username as the domain
  }
  return `https://www.${lplatform}.com/${username}`; // Default URL structure
};


---


<a href={generateURL(platform, username)}>{platform}</a>