---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---




<BaseLayout pageTitle={frontmatter.title}>
  <article class="markdown relative -top-[10px] flex flex-col gap-6">
    <p class="mt-10"><em>{frontmatter.description}</em></p>
    <slot />
    <p class="mt-10">
      Written by: {frontmatter.author} and polished with the assistance of an AI
      tool for grammar and clarity.
    </p>
  </article>
</BaseLayout>
